{% extends 'planner/main.html' %}
{% block content %}
    <div class="about-container">
        <div class="about-content-section mt-5 ml-5">
            <h2 class="border-bottom mb-2 ml-4">Increase productivity, Glow up your habits</h2>
            <p class="about-text ml-5 mt-3">
                Task Planner is app made for people who want to overcome procrastination, find more focus in every day life or just simply become more organised. App contains Habit Tracker to help you monitor your daily habits and build ones that will increase your productivity and shift up quality of your life.

                We hope that you will enjoy using it!
            </p>
        </div>
    </div>
{% endblock content %}