{% extends 'planner/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="border-bottom mt-5 ml-4">Update Task Informations</h2>
    <div class="content-section ml-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Save changes</button>
            </div>
        </form>
    </div>
{% endblock content %}